.container {
}

.title {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.todo-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.add {
  margin-top: 10px;
  width: 245px;
}

.todo-items {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin: 3px;
  height: 200px;
  width: 200px;
}

.delete {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.text {
  height: 70%;
}
