.container {
}

.title {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.todo-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.add {
  margin-top: 10px;
  width: 245px;
}

.todo-items {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin: 15px;
  height: 200px;
  width: 200px;
}

.delete {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: auto;
  height: 35%;
}

.text {
  height: 10%;
}

.text {
  margin: auto;
}

.edit-text {
  height: 100%;
}

input {
  height: 10%;
  margin: 5px;
}

@media (max-width: 800px) {
  .todo-items {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
